<div class="container2">
    <!--Navigation-->
    {{> _navigation}}

    <!--Main-->
    <div class="main">
        <!--topbar-->
        {{> _topbar}}


        <!--data list-->
        <div class="details">
            <div class="recentOrders mb-5">
                <h1>My Cart</h1>
                <br>
                <div class="cardHeader">
                    <h2>Checkout <ion-icon name="cart-outline"></ion-icon></h2>
                </div>
                <table class="cart" border="0">
                    <thead>
                            <th>S/N</th>
                            <th>Description</th>
                            <th>Amount</th>
                            <th></th>
                            <th></th>
                    </thead>
                    <tbody>
                    {{#if documents}}
                        {{#each documents}}
                        <tr>
                            <td>{{inc @index "+" 1}}.</td>
                            <td>
                                <ul>
                                    <a href="/check/{{docType}}/{{_id}}" class="table-row">
                                        <li>{{docType}} </li>
                                        <li>{{formatDate updatedAt 'MMMM Do YYYY, h:mm:ss a'}}</li>
                                    </a>
                                </ul>
                            </td>
                            <td><span class="status paid">&#8358;{{data.amount}}</span></td>
                            <td><ion-icon name="trash-outline"></ion-icon></td>
                            <td>
                                <form action="/payment/start/{{_id}}" method="POST">
                                    <input type="submit" value="Pay Now" title="Submit">
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                    {{else}}
                        No order has been placed yet.
                    {{/if}}

                    </tbody>
                </table>
            </div>

            <div>
                <div class="ftn">
                    <button>Add More Items</button>
                </div>
                <br>

                <div class="mb-5">
                    <button>Proceed to Pay</button>
                </div>
            </div>
        </div>
    </div>

</div>