<div class="container2">
    <!--Navigation-->
    {{> _navigation}}

    <!--Main-->
    <div class="main">
        <!--Error Alert-->
        {{#if msg}}
        <div class="alert color-success" id="alert">
            <span class="alert-text">{{msg}}</span>
            <span class="cancel">x</span>
        </div>
        {{/if}}

        <!--topbar-->
        {{> _topbar}}

        <!--data list-->
        <div class="details">
            <div class="recentOrders">
                <div class="cardHeader">
                    <h2>View Records</h2>
                    <a href="#" class="btn">View All</a>
                </div>
                {{#if vehicles}}
                <div class="table">
                    <div class="tbody">
                        <div class=" thead table-row">
                            <div class="table-cell">S/N</div>
                            <div class="table-cell">Name</div>
                            <div class="table-cell">Plate Number</div>
                            <div class="table-cell">Papers Issued</div>

                        </div>
                        {{#each vehicles}}
                        <a href="/vehicle/{{_id}}" class="table-row">
                            <div class="table-cell">{{inc @index "+" 1}}.</div>
                            <div class="table-cell">{{brand}} - {{model}}</div>
                            <div class="table-cell">{{plateNo}}</div>
                            <div class="table-cell">Driver's License</div>
                        </a>
                        {{/each}}
                    </div>
                </div>
                {{else}}
                <p>No vehicle profile has been created yet!</p>
                {{/if}}
            </div>
        </div>

        <!--Form-->
        <div class="formcard">
            <div class="formcardheader">
                <h2>Add a New Vehicle</h2>
            </div>

            <form action="/vehicle" method="POST">
                <h3>Vehicle Details</h3>
                <select name="category" title="Select cars">
                    <option selected disabled hidden>Select Category of Vehicle</option>
                    <option value="Motorcycle">Motorcycle</option>
                    <option value="Saloon Car-Mini(1.4-1.9L) e.p. Picanto, Corolla, Almera, Civic">Saloon Car-Mini(1.4-1.9L) e.p. Picanto, Corolla, Almera, Civic</option>
                    <option value="Saloon Car-Maxi(2.0-2.6L) e.g. Camry, Benz, Accord, Lexus & Others">Saloon Car-Maxi(2.0-2.6L) e.g. Camry, Benz, Accord, Lexus & Others</option>
                    <option value="SUV | Jeep | Bus | Pick-Up | Crossover">SUV | Jeep | Bus | Pick-Up | Crossover</option>
                    <option value="Coaster Bus">Coaster Bus</option>
                    <option value="Truck | Tipper | Trailer">Truck | Tipper | Trailer</option>
                </select>

                <input type="text" name="brand" placeholder="Vehicle Brand e.g. Toyota" value="" title="Vehicle Brand">
                <input type="text" name="model" placeholder="Vehicle Model e.g. Corolla" value="" title="Vehicle Model">
                <input type="text" name="year" placeholder="Year of Make" value="" title="Year of Make">
                <input type="text" name="plateNo" placeholder="Plate Number" value="" title="Plate Number">
                <input type="text" name="engineNo" placeholder="Engine Number" value="" title="Engine Number">
                <input type="text" name="chassisNo" placeholder="Chassis Number" value="" title="Name">
                <input type="text" name="color" placeholder="Select Color" value="" title="Color">
                <input type="text" name="location" title="Delivery Location" placeholder="Delivery Location">
                <input type="submit" value="Add Vehicle" placeholder="" title="Submit Form">
            </form>

        </div>

    </div>

</div>